@import url(iconfont.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

* {
  font-size: 15px;
  line-height: 22px;
  color: #9aa0ab;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 0 20px; }
  @media (max-width: 480px) {
    .container {
      padding: 0 10px 0 10px; } }

.title {
  color: #314a5b;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .title span {
    color: #fa5c65; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo {
    font-size: 20px;
    line-height: 64px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Domine", serif;
    text-align: center;
    width: 140px;
    height: 74px;
    border-radius: 0 0 8px 8px;
    background-color: #fa5c65;
    padding: 20px 0 0 0;
    z-index: 5; }
    .header__logo span {
      font-size: 25px;
      color: #000; }
  .header__menu {
    width: 100%;
    max-width: 460px; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__list a {
      font-size: 14px;
      line-height: 70px;
      color: #263742;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
  .header__socials > a {
    font-size: 20px;
    color: #fa5c65;
    cursor: pointer; }
    .header__socials > a:not(:last-child) {
      margin: 0 20px 0 0; }
  .header__burger {
    display: none; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 3; }
  .header__burger span {
    position: absolute;
    background-color: #263742;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #263742;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px; }
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;
    padding: 80px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto; }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__list a {
    font-size: 20px; }
  .header__socials > a {
    font-size: 30px; }
    .header__socials > a:not(:last-child) {
      margin: 0 30px 0 0; } }
.block1 {
  position: relative;
  background: rgba(86, 119, 143, 0.2); }
  .block1__section {
    height: 950px;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center; }
    @media (max-width: 768px) {
      .block1__section {
        height: 800px; } }
    @media (max-width: 480px) {
      .block1__section {
        height: 650px; } }
  .block1__title {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 53px;
    margin-bottom: 5px; }
    .block1__title span {
      font-size: 65px; }
    @media (max-width: 480px) {
      .block1__title {
        font-size: 38px; } }
  .block1__subtitle {
    font-size: 20px;
    line-height: 40px;
    color: #314a5b;
    margin-bottom: 30px; }
  .block1__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .block1__button a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 45px;
      border-radius: 7px;
      background-color: #fa5c65; }
    .block1__button a:hover {
      background-color: #ff4f4f; }
  .block1__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1; }

.block2__snippets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 80px 0; }
  @media (max-width: 767px) {
    .block2__snippets {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 70px 0; } }
  @media (max-width: 500px) {
    .block2__snippets {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 60px 0; } }
.block2__portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 85px;
  padding: 0 0 70px 0; }
  @media (max-width: 768px) {
    .block2__portfolio {
      gap: 30px; } }
  @media (max-width: 500px) {
    .block2__portfolio {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 0 50px 0; } }
  .block2__portfolio > div > h2 {
    font-size: 40px;
    letter-spacing: -2px; }
    .block2__portfolio > div > h2 > span {
      font-size: 50px; }
  .block2__portfolio > div > a {
    padding: 25px 0; }
  .block2__portfolio h3 {
    font-size: 16px;
    line-height: 20px;
    color: #314a5b;
    font-weight: 700;
    padding: 10px 0; }
.block2__picture {
  position: relative;
  overflow: hidden; }
  @media (max-width: 500px) {
    .block2__picture {
      display: none; } }
  .block2__picture img {
    position: absolute;
    display: block;
    height: 100%;
    right: 0%; }
.block2__plate {
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  .block2__plate h2 {
    font-size: 26px;
    line-height: 26px;
    padding: 10px 0; }
    .block2__plate h2 span {
      font-size: 40px; }
  .block2__plate p {
    padding: 10px 0; }
  .block2__plate a {
    font-size: 14px;
    line-height: 20px;
    color: #fa5c65;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
    /*& span {
    	font-size: 30px;
    }*/ }

/*# sourceMappingURL=style.css.map */