@import url(iconfont.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

* {
  font-size: 15px;
  line-height: 22px;
  color: #9aa0ab;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 0 20px; }

@media (max-width: 480px) {
  .wrapper {
    padding: 0 10px 0 10px; } }
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo {
    font-size: 20px;
    line-height: 64px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Domine", serif;
    text-align: center;
    width: 140px;
    height: 74px;
    border-radius: 0 0 8px 8px;
    background-color: #fa5c65;
    padding: 20px 0 0 0;
    z-index: 5; }
    .header__logo span {
      font-size: 25px;
      color: #000; }
  .header__menu {
    width: 100%;
    max-width: 460px; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__list a {
      font-size: 14px;
      line-height: 70px;
      color: #263742;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
  .header__socials > a {
    font-size: 20px;
    color: #fa5c65;
    cursor: pointer; }
    .header__socials > a:not(:last-child) {
      margin: 0 20px 0 0; }
  .header__burger {
    display: none; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 3; }
  .header__burger span {
    position: absolute;
    background-color: #263742;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #263742;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px; }
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;
    padding: 80px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto; }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__list a {
    font-size: 20px; }
  .header__socials > a {
    font-size: 30px; }
    .header__socials > a:not(:last-child) {
      margin: 0 30px 0 0; } }

/*# sourceMappingURL=style.css.map */